.headerNav md-toolbar md-icon.md-default-theme {
  color: white;
}

.headerLogo{
  padding-left: 2%;
}

.navBut{
  text-transform: capitalize;
}

.section2{
  padding-top: 10%;
  padding-bottom: 10%;
}

.ccInfo{
  width: 50%;
}

.infoHeader{
  padding-left: 5%;
}

.section3{
  padding-top: 10%;
  padding-bottom: 5%;
}

.signupCard{
  width: 60%;
}

.skillSelect{
  width: 100%;
}
