<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Purdue IEEE Computer Society CodeCafe">
  <meta name="keywords" content="C,C++,html,css,javascript,programming,natural language,artificial intelligence,voice programming,cyber-security,hacking">
	<meta name="author" content="Sid Shah">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="../static/css/angular-material.min.css">
  <script src="../static/node_modules/angular/angular.js"></script>
	<script src="../static/node_modules/angular-aria/angular-aria.js"></script>
	<script src="../static/node_modules/angular-animate/angular-animate.js"></script>
	<script src="../static/node_modules/angular-material/angular-material.min.js"></script>
	<script src="../static/node_modules/angular-messages/angular-messages.min.js"></script>
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="../static/js/index.js"></script>
  <title> Purdue IEEE Code Cafe! </title>
</head>
<body ng-app="codeCafe">
  {%raw%}
  <div  ng-cloak="" ng-controller="indexCtrl">

    <md-content class="headerNav">
     <md-toolbar class="md-primary md-hue-2">
       <div class="md-toolbar-tools">
         <h2 class="headerLogo">
           <a href="/"><span class="md-headline">IEEE Code Cafe!</span></a>
         </h2>
         <span flex=""></span>
				 <span class="md-subhead"><a href="signup"><md-button class="md-accent navBut">Sign Up!</md-button></a></span>
         <span class="md-subhead"><a href="launchIDE"><md-button class="md-accent navBut">Code Cafe IDE</md-button></a></span>
       </div>
     </md-toolbar>
   </md-content>

   <md-content>
     <div layout="row" layout-align="space-around center">
       <div layout="column" layout-align="">
          <h1 class="md-display-2"> IEEE Code Cafe! </h1>
          <h1 class="md-headline"> Saturday, 25th March, 2017 </h1>
          <h1 class="md-headline"> HICKS G980D </h1>
          <md-button class="md-primary md-raised" ng-click="redirectSignup()"> Sign Up! </md-button>
      </div>
      <img src="../static/assets/IMG_2786.jpg"></img>
    </div>
  </md-content>

  <md-content>
    <div layout="row" layout-align="center" class="section2">
      <img src="../static/assets/ieee_tag_blue.jpg"></img>
    </div>
  </md-content>

  <div layout="column" layout-align="space-between center">
    <div layout="row" layout-align="space-around">
      <img src="../static/assets/codecafe_final.jpg" style="height:50%;width:40%"></img>
      <div class="ccInfo">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex>
          <md-toolbar>
            <h1 class="md-headline infoHeader">What is Code Cafe!?</h1>
          </md-toolbar>
          <md-card-content>
            <p>Code cafe is an open learning event made to help you get started with learning how to code. At this event, we want you to be as relaxed as possible. You will be provided free beverages (it is a cafe after all), mugs, and swag bags when you enter the door.</p>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div layout="row" layout-align="space-around" class="section2">
      <div class="ccInfo">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex>
          <md-toolbar>
            <h1 class="md-headline infoHeader">How is Code Cafe structured?</h1>
          </md-toolbar>
          <md-card-content>
            <p>During the five hours of Code Cafe, you will be divided in groups first, based on your current programming level and the skills you want to learn. The concepts will range from variables, loops, and conditionals to WebGL-based game programming, and scientific computing techniques. The primary language is JavaScript, selected based on ease of use and impact. Mentors will be guiding attendees on a global and individual basis.</p>
          </md-card-content>
        </md-card>
      </div>
      <img src="../static/assets/codecafe_final.jpg" style="height:50%;width:40%"></img>
    </div>

    <div layout="row" layout-align="space-around">
      <img src="../static/assets/codecafe_final.jpg" style="height:50%;width:40%"></img>
      <div class="ccInfo">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex>
          <md-toolbar>
            <h1 class="md-headline infoHeader">What to bring?</h1>
          </md-toolbar>
          <md-card-content>
            <p>An equipment to write code, preferably a laptop or portable computation device and the curiosity to be the picasso of the art of programming.</p>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div layout="row" layout-align="space-around">
      <h1 class="md-display-2"> Sponsors </h1>
    </div>
    <div layout="row" layout-align="space-around" class="section3">
      <img src="../static/assets/ieee_tag_blue.jpg" style="height:30%;width:30%"></img>
      <img src="../static/assets/ms_logo.png" style="height:30%;width:40%"></img>
    </div>

  </div>

  </div>
  {%endraw%}
</body>
</html>
