<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Purdue IEEE Computer Society CodeCafe">
  <meta name="keywords" content="C,C++,html,css,javascript,programming,natural language,artificial intelligence,voice programming,cyber-security,hacking">
	<meta name="author" content="Sid Shah">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="../static/css/angular-material.min.css">
  <script src="../static/node_modules/angular/angular.js"></script>
	<script src="../static/node_modules/angular-aria/angular-aria.js"></script>
	<script src="../static/node_modules/angular-animate/angular-animate.js"></script>
	<script src="../static/node_modules/angular-material/angular-material.min.js"></script>
	<script src="../static/node_modules/angular-messages/angular-messages.min.js"></script>
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="../static/js/skillz.js"></script>
  <title> Purdue IEEE Code Cafe! </title>
</head>
<body>
  <div ng-app="codeCafe" ng-cloak="" ng-controller="skillCtrl">
    <md-content class="headerNav">
     <md-toolbar class="md-primary md-hue-2">
       <div class="md-toolbar-tools">
         <h2 class="headerLogo">
           <a href="/"><span class="md-headline">IEEE Code Cafe!</span></a>
         </h2>
         <span flex=""></span>
         <h2 class="md-subhead"> Hi {{name}} </h2>
       </div>
     </md-toolbar>
   </md-content>
   {%raw%}

   <md-content>
     <div layout="row" layout-align="space-around center">
       <div layout="column" layout-align="">
          <h1 class="md-headline" hide-xs show-gt-lg flex> Choose the skills you want to learn </h1>
          <h1 class="md-title" hide show-xs flex> Choose the skills you want to learn </h1>
      </div>
    </div>
  </md-content>

  <md-content>
    <div layout="row" layout-align="space-around center" layout-xs="column">
      <div layout="column" layout-align="">
         <h1 class="md-display-2"> Beginner </h1>
         <md-checkbox ng-model="begSkill1"> Variables, Data Types </md-checkbox>
         <md-checkbox ng-model="begSkill2"> Control Flow (If+Else, Loops) </md-checkbox>
         <md-checkbox ng-model="begSkill3"> Functions, methods </md-checkbox>
     </div>
     <div layout="column" layout-align="">
        <h1 class="md-display-2"> Intermediate </h1>
        <md-checkbox ng-model="intSkill1"> Objects </md-checkbox>
        <md-checkbox ng-model="intSkill2"> Callbacks </md-checkbox>
        <md-checkbox ng-model="intSkill3"> Data Structures </md-checkbox>
        <md-checkbox ng-model="intSkill4"> REST APIs, JSON Objects </md-checkbox>
    </div>
    <div layout="column" layout-align="">
       <h1 class="md-display-2"> Advanced </h1>
       <md-checkbox ng-model="advSkill1"> WebGL </md-checkbox>
       <md-checkbox ng-model="advSkill2"> Game Programming </md-checkbox>
       <md-checkbox ng-model="advSkill3"> NodeJS </md-checkbox>
       <md-checkbox ng-model="advSkill4"> Special Projects </md-checkbox>
   </div>
   </div>
 </md-content>

  <md-content>
    <div layout="row" layout-align="space-around center">
      <md-input-container>
        <div class="skillSelect" layout="row">
          <md-button class="md-primary md-raised" ng-click="submitSkills()"> Confirm Selection </md-button>
        </div>
      </md-input-container>
    </div>
  </md-content>

  </div>
  {%endraw%}
</body>
</html>
